@import '../fonts/hamiltoneg/mr_hamiltoneg.css';
@import '../fonts/felidae/felidae.css';
@import '../fonts/atziluth/atziluth.css';
@import '../fonts/playfairdisplay/playfairdisplay.css';
@import '../fonts/sourceserifpro/sourceserifpro.css';
@import '../fonts/doppelganger/doppelganger.css';
@import '../fonts/gilroy/gilroy.css';

$font-playfair: 'Playfair Display', serif;
$font-atziluth: 'Atziluth', serif;
$font-hamiltoneg: 'mr_HamiltoneG', serif;
$font-sourceserifpro: 'Source Serif Pro', serif;
$font-felidae: 'Felidae', serif;
$font-doppelganger: 'Doppelganger', serif;
$font-gilroy: 'Gilroy', serif;